<div class="index-users row row-cols-1 row-cols-md-3 g-4">
	<% @users.each do |user| %>
	<div class="index-user col">
		<div class="card index-user-post">
			<div>
			    <% if user.avatar.attached? %>
	              <%= image_tag user.avatar, class: 'user-index-avatar' %>
	            <% end %>
			</div>
			<div class="user-index-details">
				<div><%= user.username %></div>
				<div><%= user.email %></div>
			</div>
	    </div>
	</div>
	<% end %>
</div>
