<div class="index-posts">
	<% @posts.each do |post| %>
	<div class="index-post">
		<strong><%= post.title%></strong><p><%= post.user.email %></p>
		<%= image_tag post.image, class: "img" %>
	</div>	
    <% end %>
</div>

