<div class="index-posts">
	<% @posts.each do |post| %>
	<div class="index-post">
		<strong><%= post.title%></strong><p><%=link_to post.user.email, user_path(post.user), class: "index-username" %></p>
		<%= image_tag post.image, class: "img" %>
        <a href="#"><i class="fa-sharp fa-solid fa-thumbs-up fa-2x"></i></a>
        <a href="#"><i class="fa-solid fa-comment fa-2x"></i></a>
        <a href="#"><i class="fa-sharp fa-solid fa-share fa-2x"></i></a>
	</div>	
    <% end %>
</div>

