nav{
	/*border: 2px solid red;*/
	display: flex;
	justify-content: space-between;
	width: 1200px;
	text-decoration: none;
	padding-top: 2rem;
	margin: auto;
	/*background-color: red;*/

}
nav div{
	/*border: 2px solid red;*/
	margin: 0;
}
nav ul{
	padding: 0;
}
nav a{
	text-decoration: none;
	font-size: 20px;
	color: black;
	/*border: 2px solid red;*/
	margin-right: 2rem;
}