.show-users{
	/*border: 2px solid red;*/
	width: 1300px;
	margin: auto;
	margin-bottom: 5rem;
}
.show-user{
	/*border: 2px solid red;*/
	margin-bottom: 2rem;
	display: flex;
}
.show-user .show-avatar{
	/*border: 2px solid red;*/
	width: 300px;
	height: 300px;
	border-radius: 50%;
}
.show-user .user-show-details{
	/*border: 2px solid red;*/
	justify-content: space-between;
	margin-left: 5rem;
	line-height: 3rem;
	font-size: 24px;
}
.show-user .user-show-details .btn-edit{
	text-decoration: none;
	color: white;
	padding: 0.3rem 3rem;
	background-color: blue;
}
.show-user-post{
	/*border: 2px solid red;*/
	margin: auto;
	width: 400px;
	text-align: center;
}
.user-img{
	/*border: 2px solid red;*/
	height: 400px;
	width: 398px;
	/*margin: auto;*/
}
.user-show-delete-div{
	/*border: 2px solid red;*/
	display: flex;
	justify-content: space-around;
}
.user-show-delete{
	text-decoration: none;
	color: black;
}
.user-show-buttons{
	/*border: 2px solid red;*/
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
	min-width: 500px;
}